/* ==========================================================================
  Reset 
  ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==========================================================================
  General 
  ========================================================================== */

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

#info-container {
  border: 1px solid;
  border-radius: 0.2em;
  padding: 1em;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  gap: 1em;
}

#weather-display {
  width: 100%;
  padding: 0 1em;
  text-align: left;
  grid-column: 1 / 3;
  display: none;
  color: black;
}

button {
  padding: 0.1em 0.6em;
}

#temperature-unit-selector {
  width: 5em;
}
